[submodule "lib/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
	ignore = dirty
[submodule "lib/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "external/WALi-OpenNWA"]
	path = external/WALi-OpenNWA
	url = https://github.com/pdschubert/WALi-OpenNWA.git
[submodule "external/json-schema-validator"]
	path = external/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
